name: KMP CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  android:
    name: Android CI
    uses: ./.github/workflows/android-ci.yml

  ios:
    name: iOS CI
    uses: ./.github/workflows/ios-ci.yml
